# seeBoard configuration
#
# [gps]
#   show_dms_decimals: True / False (default: False)
#
# [cam]
#   rotation: 0 / 90 / 180 / 270 (default: 0)
#
# [coords]
#   fix_color:   lime / red / cyan / yellow (default: lime)
#   nofix_color: lime / red / cyan / yellow (default: red)
#   error_color: red (default: red)
#
# [route_recording]
#   sampling_mode: distance / time (default: distance)
#   distance_threshold: meters (default: 15.0)
#   time_threshold: seconds (default: 10)
#   line_color: RED / BLUE / GREEN / etc or #RRGGBB (default: RED)
#   line_width: pixels (default: 3)
#   line_style: continuous / dotted / dashed / dashdot (default: continuous)
#   point_color: red / blue / green / yellow / etc (default: red)
#   point_diameter: pixels (default: 8)

[gps]
show_dms_decimals = False

[cam]
rotation = 180

[coords]
fix_color = lime
nofix_color = yellow
error_color = red

[route_recording]
sampling_mode = distance
distance_threshold = 15.0
time_threshold = 10
line_color = RED
line_width = 3
line_style = continuous
point_color = red
point_diameter = 8


